{{set . "title" "About Bojo's Computer Recycling"}}
{{template "header.html" }}

            
      <main class="mdl-layout__content">
        
        <div class="container">
			<h1>About Bojo a simple computer recycling company</h1>
			<h2>Bojo's Mission</h2>
			<p>
				Here at Computer Recycling | Electronic Recycling | PC Recycling we are making it our mission for make the world a cleaner and better place one day at a time
				by servicing people and companies recycle and or donate their old or new computers, PC and electronic devices.  You might be asking yourself why should I take the
				time and energy to recycle my old electronic devices that no one cares about.  Computers and electronics are made up of very scarce resources
				such as precious metals and minerals.  Throwing these devices away is not only wasteful but dangerous.  The materials in these devices are have a chemical reaction 
				which can potentially be harmful. Another import fact to know is that when computers and devices are not recycled and or refurbished for other use they will end up be melted down, loosing the scarce resource forever.
				In order to make the world a better place we will need computers and devices because of their essential computing capabilities and role it places in
				advancing technology and society in general.  So please donate and or recycle your computer and electronic devices with us today.
			</p>
			<p>
				Computer Recycling believes very strongly in technology's impact on making life easier and providing a better life for the next generation to come.  So
				we have have set in place several different programs which helps the community grow and aspire.  We think that education is vital for our futre and future
				generations to come.  The personal computer has played a massive role in helping students learn in their specific field of study.  We do not want to
				see a student study without a personal computer to accomplish their acedimic needs.  
				One of our favorite programs is to donate refurbished computers to schools and facilities in need such as private eduction centers and homeless shelters.  In
				today's job market it is very difficult to find employment without a computer because most jobs require that you fill out an electronic application.  With 
				our donations of refurbished computers people whom do not have access to a computer can use it to obtain employment.
				We strongly believe that people utilizing these devices and technology give empowerment to better help progress society.  
			</p>
			<p>
				In today's market computer devices can be very costly to keep up with the constant progression of the Information Technology field.  Small business is essential to stabilizing the local
				economy and keeping peace and growth in the community.  Without the help of computers running a business is nearly impossible.  They can be utilized for countless
				business oriented tasks like marketing, accounting and more.  You can rarely walk into a small business without seeing a computer utilized.
				One of our programs allows small business owners to sign up for a donation from Computer Recycle Company which
				comes directly from the people that donate and recycle.  You can rest assure that your old devices will not be collecting up dust in the closet but will in fact be
				driving local small business that needs the assets to make the community a better place for our future generation.  
			</p>
        </div>
        

   


{{template "footer.html" }}

