{{set . "title" "Bojo's Computer Recycling and Refurbishing Services"}}
{{template "header.html" }}
        
      <main class="mdl-layout__content">
		  <content>
		  <h1>Bojo Computer Recycle and Computer Refurbishing Services</h1>
        
          <div class="mdl-grid mdl-grid--no-spacing">
				<div class="mdl-cell--6-col">
					
							<h2>Business Pickup</h2>
							<p>Do you have out dated computers in your small business or office?</p> 
									
							<h3>Cyber security and computer data destruction</h3>
							<p>
								Cyber security threats are a constant which will always cost business money because of data breaches and system take overs. 
								Bojo makes sure that these obselete systems and their hardware make it to the right place for the computer data destruction process.
							</p>
							<h3>Licensing and computer refurbishing</h3>
							<p>
								Another fact of business is expiring licensing of software and hardware.
								Computer recycle and refurbishing makes sure that the expired hardware is reused or recycle correctly.	
							</p>
							<h3>Computation demand and computer recycling</h3>
							<p>	
								The demand of computation in today's market is constantly increases to fulfill consumers wants which obselete systems.
								The natural resources in the obselete systems need to be recycled for manufacturing in new systems.
							</p>	
						
							<h3>Bojo has customer service on stand by ready talk to your business</h3>
							<p>
							Bojo can assist you in the recycle and refurbishing process.
							The Information Technology Departments can call our facilities and arrange a meeting to talk to one of our computer recycling specialist.
							Our customer service representive will efficiently gather the information needed to get the process going. 
							</p>
					
				</div>
				<div class="mdl-cell--6-col">
					
							<h2>Home Pickup</h2>
							<p>Do you have an old personal computer setting in your closet or basement that is not being used?</p>
							<h3>The environment and importances of computer recyling</h3>
							<p>
								Computer and electronic devices are made up of scarce resources.  Reclying electronic devices insures thats the natural resources manufactured in the
								device are used again in other product.
								If the computer devices are not recycled we loose valuable natural resources to the trash melting process.
								
							</p>
							<h3>Dangers that neglecting recycling computers play</h3>
							<p>
								Computers and electronic are made up off different materials that can potentially be danger because of chemical reactions.
								Mixing these components can be danger to the waste management industry because of these chemical reactions.
								Not recycling the computer parts can also be dangerous because of the pollutants that come from the reaction.  
							</p>
							<h3>The effects of Bojo and computer recycling on the community</h3>
							<p>
								Bojo believes that computers are an essential driving force in improve society.  
								To show our support donate some of our obtained computers and electronics back to the community.
								No one should go with out the empowerment that a computer brings. 
							</p>
							<h3>Fill out our pickup form</h3>
							<p>
							Bojo has field technicians ready to come pickup the computers and electronic devices at your home location.  
							Do not worry about leaving the comfort of your home.
							</p>
					
				</div>
				<div class="mdl-cell--6-col">
						
						<h2>Auditing and Reporting Signup</h2>
						<p>Do you have a computer systems setup that you think might be replace?</p>
						<h3>Computer system asset evaluation</h3>
						<p>
							Company's invest a lot of their money in their computer systems and are dependant on the systems reliability.
							Bojo has specialist that can come and evaluate your computer systems.  
							Our computer recycling representatives can draw up reports with private models to determine whether you need to take the action.
							 
						</p>
						<h3>Cyber security vulnerability reports</h3>
						<p>
							Sometimes companys get hacked because of misconfiguration or out date hardware.  Our specialist can run reports showing how vulnerable your
							computer systems are to cyber security threats.  We can also run diagnostics on existing cyber security threats that your network or system might
							currently have.
						</p>
						
						<h3>System reselling and upgrading options</h3>
						<p>
							Computer systems can be very expensive.  
							Bojo can help you determine whether or not your computer systems can be liquidated or not.
							If you believe your computer systems can be liquidated Bojo's representatives are on standy to evaluate and help you do the process.
						</p>
						<h3>Contact Bojo about getting your business computer system audited</h3>
						<p>
							You can rest assured that our specialist are on the case of what to do about your office software and hardware.
							We have trained technicians and field agents that can come directly to you; report and audit with easy.
							Do not hesitate to contact our customer service representatives today.
						</p>
				</div>
				<div class="mdl-cell--6-col">
						<h2>Donation Signup</h2>
						<p>Are you a small business, facility or student that cannot afford licensed software and hardware?</p>
						<h3>Student desktop, laptop donation program</h3>
						<p>
							Being a student is a huge step in improve someone's life.  It is also an expensive.  Bojo believe in the importance and education and we like to
							show our support to student's by offering a repurposed computer for their academic careers.
						</p>
						<h3>Small business repurposed hardware and software</h3>
						<p>
							In today's market Bojo believe that small business is essential for local economies, so we pride ourselves in helping small business owners get 
							the information technology equipment that they need to succeed into today market.  Sign up for our business donation program to see if you qualify
							for any of our repurposed computer and electronic systems.
						</p>
						
						<h3>Non profit and facilities donation opportunities</h3>
						<p>
							Running a non profit can be very difficult because of finance.  Bojo believes in the support that non profit facilities and companies place on the 
							community.  So we urge you to let us take the stress of starting a computer lab with your non profit organization.
						</p>
						
						<h3>Let Bojo help give back to the community</h3>
						<p>Please signup for our donation program and see if you qualify for any of our repurposed stock</p>
				</div>
			</div>
			</content>
   


{{template "footer.html" }}

